.dashboard{
  background-color: #171821;
  width: 100%;
  height: 100%;
  padding: 25px;
  .heading{
    width: 100%;
    .image{
      width: 60px;
      height: 60px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .title{
      text-align: center;
      margin-left: 85px;
      h1{
        color: #fff;
        margin: 0;
        font-weight: 300;
        font-size: 40px;
      }
    }
    .profile{
      padding: 10px;
      border: 2px solid #fff;
      border-radius: 20px;
      max-width: 220px;
      width: 100%;
      text-align: center;
      h5{
        color: #fff;
      }
      p{
        color: #C5C4C7;
      }
    }
  }
  .content{
    margin-top: 50px;
    gap: 15px;
    .today_counts , .options{
      background-color: #21222D;
      border-radius: 20px;
      padding: 30px;
      .title{
        h5{
          color: #fff;
        }
      }
    }
    .today_counts{
      flex: 0 0 65%;
      .boxes{
        gap: 20px;
        margin-top: 30px;
        .box{
          flex: 0 0 23%;
          padding: 25px 15px;
          border-radius: 7px;
          background-color: #171821;
          h3{
            color: #fff;
          }
        }
      }
    }
    .options{
      flex: 0 0 33%;
      .boxes{
        padding: 18px;
        gap: 25px;
        .left{
          flex: 0 0 45%;
          text-align: center;
          .box{
            padding: 25px 15px;
            border-radius: 7px;
            background-color: #171821;
            p{
              margin-top: 10px;
              font-size: 16px;
              margin-top: 13px;
              font-weight: 500;
              color: #FEB95A;
            }
          }
        }
        .right{
          flex: 0 0 45%;
          gap: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .box{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
            border-radius: 7px;
            background-color: #171821;
            padding: 20px;
            max-width: 150px;
            width: 100%;
            span{
              font-size: 16px;
              color: #66DDCE;
            }
          }
        }
      }
    }
  }

  .info{
    margin-top: 20px;
    gap: 15px;
    .TopAbnormalTests , .ages{
      background-color: #21222D;
      border-radius: 20px;
      padding: 30px;
      .title{
        h5{
          color: #fff;
        }
      }
    }
    .ages{
      flex: 0 0 33%;
      .progressAges{
        margin-top: 30px;
        padding: 25px;
        .the-progress{
          width: 30px;
          height: 200px;
          background: #2B2B36;
          border-radius: 7px 7px 0px 0px;
          position: relative;
          h5 , h6{
            color: #FEB95A;
            font-size: 14px;
            text-align: center;
            font-family: sans-serif;
          }
          h5{
            position: relative;
            bottom: 27px;
          }
          h6{
            position: absolute;
            bottom: -35px;
          }
          span{
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            background-color: #66DDCE;
            border-radius: 7px 7px 0px 0px;
          }
        }
      }
    }
    .TopAbnormalTests{
      flex: 0 0 65%;
      .tests{
        margin-top: 30px;
        .table>:not(caption)>*>*{
          background-color: transparent !important;
        }
        table{
          thead{
            tr{
              border-color: #2B2B36;
              th{
                font-weight: 400;
                color: #87888C;
              }
            }
          }
          tbody{
            tr{
              border-color: #2B2B36;
              th , td{
                font-weight: 400;
                color: #fff;
              }
              td{
                .numProgress{
                  padding: 2px;
                  padding-left: 5px;
                  max-width: 70px;
                  border-radius: 5px;
                  width: 100%;              
                }
                .the-progress{
                  width: 100%;
                  height: 5px;
                  background: #2B2B36;
                  border-radius: 7px ;
                  position: relative;
                  top: 12px;
                  span{
                    position: absolute;
                    height: 100%;
                    left: 0;
                    bottom: 0;
                    background-color: #66DDCE;
                    border-radius: 7px;
                  }
                }
              }
            }
          }
        }
      }
    }

  }
  .choose_text{ 
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    select{
      background-color: #21222D;
      width: 100%;
      height: 40px;
      border: 0;
      color: #fff;
    }
  }

  .test_progress{
    margin-top: 20px;
    gap: 15px;
    .test_gander , .test_age{
      background-color: #21222D;
      border-radius: 20px;
      padding: 30px;
      .title{
        h5{
          color: #fff;
        }
      }
    }
    .test_gander{
      flex: 0 0 33%;
      .progressGander{
        margin-top: 30px;
        padding: 25px;
        gap: 35px;
        .the-progress{
          width: 40px;
          height: 200px;
          background: #2B2B36;
          border-radius: 7px 7px 0px 0px;
          position: relative;
          h5 , h6{
            font-size: 14px;
            text-align: center;
            font-family: sans-serif;
          }
          h5{
            position: relative;
            bottom: 27px;
          }
          h6{
            position: absolute;
            bottom: -35px;
          }
          span{
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            background-color: #66DDCE;
            border-radius: 7px 7px 0px 0px;
          }
        }
      }
    }
    .test_age{
      flex: 0 0 65%;
      .progressAges{
        gap: 40px;
        margin-top: 30px;
        padding: 25px;
        .the-progress{
          width: 35px;
          height: 200px;
          background: #2B2B36;
          border-radius: 7px 7px 0px 0px;
          position: relative;
          h5 , h6{
            color: #FEB95A;
            font-size: 14px;
            text-align: center;
            font-family: sans-serif;
          }
          h5{
            position: relative;
            bottom: 27px;
          }
          h6{
            position: absolute;
            bottom: -35px;
          }
          span{
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            background-color: #FEB95A;
            border-radius: 7px 7px 0px 0px;
          }
        }
      }
    }
  }
}