*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-color : #0C68CF;
  --bg-color : #f2f2f2;
  --black-color: #343D42;
  --white-color: #ffffff;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

section{
  position: relative;
  padding: 50px 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* تجنب إظهار السهم الصغير في Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@tailwind base;
@tailwind components;
@tailwind utilities;